<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>
<% title "Comments" %>
<!-- The following lines probably don't need to be here -->
<% for comment in @comments %>
  <div class="comment">
    <div class="created_at"><%= comment.created_at.strftime("%B %d, %Y") %></div>
    <div class="content">
      <%= message.content %>
    </div>
  </div>
<% end %>
