.review {
  position: relative;

  .review-author {
    outline: 1px solid red;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
  }
}

.votes-container {
  @include bold(1.7em);
  background-color: #1D9BD9;
  color: white;
  padding: 10px 20px;
  position: absolute;
  top: 10px; left: -80px;
  text-align: center;

  $arrow-color: white;
  $arrow-size: 12px;
  $active-color: red;
  .vote-up,
  .vote-down {
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    display: block;
    height: 0;
    margin-bottom: 7px;
    width: 0;
  }

  .vote-up {
    border-bottom: $arrow-size solid $arrow-color;
    &.vote-active { border-bottom-color: $active-color; }
  }

  .vote-down {
    border-top: $arrow-size solid $arrow-color;
    &.vote-active { border-top-color: $active-color; }
  }
}


.comments-container {
  h2 {
    border-bottom: 1px solid $med-gray;
    margin-top: 40px;
    padding-bottom: 5px;
  }

  & > .comment {
    // border-bottom: 1px solid $med-gray;
    margin-bottom: 10px;
    padding: 10px 10px 0;
  }
}

.comment {
  .comment-author {
    color: $blue;
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .comment-body {
    clear: both;
    margin-bottom: 10px;
  }

  .comment-date {
    color: $light-text;
    float: right;
  }

  .nested_comments {
    @include border-radius;
    border: 1px solid $med-gray;
    margin: 10px 0 0 30px;
    padding: 5px;

    .comment {
      margin-top: 10px;
      &:first-child { margin: 0; }
    }
  }
  .nested_comments .nested_comments .nested_comments { margin-left: 0px; }
}
