.result-count,
.result-blank {
  color: lighten($gray-text, 20);
}

.result-count {
  font-size: 2em;
  margin: 5px 0 15px;

  .query {
    color: $dark-gray;
  }
}

.result-blank {
  font-size: 1.8em;
  margin: 15px 0 25px;
  text-align: center;
}

.results-container {}

.result {
  @include clearfix;
  border: 1px solid $med-gray;
  margin-bottom: 25px;

  .result-votes,
  .result-info {
    float: left;
  }

  .result-votes {
    @include bold(1.3em);
    background-color: darken($light-gray, 2);
    border-right: 1px solid $med-gray;
    color: lighten($gray-text, 10);
    height: 20px;
    margin-right: 10px;
    padding: 16px 15px 15px;
  }

  .result-info {
    padding: 5px 0;
    max-width: 85%;
    // word-wrap: ellipsis; // TODO: prevent overflow here if possible
  }

  .result-date {
    color: lighten($gray-text, 30);
    float: right;
    margin: 7px 7px 0 0;
  }
}


.search-form {
  width: 75%;
  margin: 0 auto;

  input[type='text'] {
    margin-right: 15px;
    width: 85%;
  }

  input[type='submit'] {
    padding: 13px 0;
    width: 12%;
  }
}
