<footer>
  <% if signed_in? %>
    <div class="container">
      <div class="row">
        <div class="span-16">
          <p style="font-size: 1.3em; margin-top: 40px;">signed in as <%= current_user.username %></p>
        </div>
      </div>
    </div>
  <% end %>
</footer>
