.ribbon {
  @include clearfix;

  .segment {
    height: 5px;
    float: left;
    width: 10%;
  }
  .segment-1 { background-color: $deep-orange; }
  .segment-2 { background-color: $blue; }
  .segment-3 { background-color: $light-orange; }
  .segment-4 { background-color: $purple; }
  .segment-5 { background-color: $aqua; }
}

header {
  background-color: white;
  border-bottom: 1px solid $med-gray;
  font-size: 1.1em;
  padding: 17px;

  .logo {
    float: left;
    font-size: 1.7em;
    margin-top: 2px;

    a {
      color: #bbb;
      &:hover { text-decoration: none; }
    }
  }

  .search-container {
    @include border-radius;
    border: 1px solid $med-gray;
    float: right;
    padding: 4px;
    width: 25em;

    input { height: 25px; }

    input[type='text'] {
      border: none;
      font-size: 1em;
      margin: 0 10px 0 0;
      padding: 0;
      width: 19em;
    }

    input[type='submit'] { padding: 3px 9px; }
  }

  .header-links {
    color: #999;
    float: right;
    margin: 8px 0 0 40px;
  }
}
