<% content_for :main do %>

  <div style="outline:1px solid red">
    <% Review.all.each do |r| %>
      <%= link_to r.title, review_path(r.rid) %>
    <% end %>
  </div>

<% end %>


<% content_for :sidebar do %>
  <p>sidebar!</p>
<% end %>
