<h1><%= @review.title %></h1>
<div class="review">
  <%= raw @review.body %>
</div>

<h2 style="margin-top: 40px;">Comments</h2>
<% @review.comments.each do |comment| %>
  <div style="outline:1px solid red; padding: 10px 10px 5px; margin-bottom: 10px;">
    <p style="margin-bottom: 10px;"><%= raw comment.body %></p>
  </div>
  <div class="created_at"><%= comment_at.strftime("%B %d, %Y") %></div>
<% end %>
